button {
  outline: none;
  border: none;
}
.addChracter {
  padding: 15px;
  font-weight: 800;
  cursor: pointer;
  margin: 5px;
  border-radius: 8px;
}

.selectedShahrvand {
  padding: 15px;
  font-weight: 800;
  cursor: pointer;
  border-radius: 8px;
  background-color: #4d96ff;
}

.selectedMafia {
  padding: 15px;
  font-weight: 800;
  cursor: pointer;
  border-radius: 8px;
  background-color: #b20600;
  color: #eeeeee;
}
.mafia,
.shahrvand {
  display: flex;
  flex-direction: row;
  padding: 10px;

  justify-content: center;
}
.chracters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 500px;
  margin: auto;
}

img {
  height: 350px;
}
.selectCharButton {
  margin: 30px;

  font-weight: 500;
}
.AddChracterButton {
  display: flex;
  align-items: center;
}
.IncreaseButton {
  display: flex;
  flex-direction: column;
}
.IncreaseButton button {
  margin: 1px;
  padding: 2px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
}

.startButton {
  width: 200px;
  background-color: #eeeeee;
  padding: 10px 10px;

  color: #00092c;
  text-decoration: none;
  font-size: large;
  border-radius: 10px;
}

@media screen and (max-width: 850px) {
  .mafia,
  .shahrvand {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .image {
    order: -1;
  }
}
