.role{
    display: flex;
    align-items: baseline;
     color: #00092C;
    width: 200px;
    background-color: #EEEEEE;
    justify-content: center;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
}
